
<div id="right-bar" style="margin-bottom:10px;margin-left:1%;margin-top:10px;width:26%;height:auto;float:left">
    <div id="search-soft" style="border:1px solid #bfbfbf;margin-top:5px;margin-bottom:5px;padding:10px;padding-left:10px;">
        <input type="search" id="search" placeholder="输入关键词搜索吧" />
        <input type="button" id="searchbutton" value="搜索" />
    </div>
</div>