@model Category []

@{
}<form><input type="text" name="Name" /> <button type="button" asp-action="NewCategory" asp-controller="home">新建分类</button>
     <table>
         <thead>
             <tr>
                 <th>分类</th>
                 <th>操作</th>
             </tr>
         </thead>
         <tbody>
        
             @foreach (Category i in Model)
             {
                 @i.Name;

             <tr>
                 <td><button type="button" value="删除" asp-controller="home" asp-action="Delete" asp-route-/></td>
                 <td><input type="text" name="Name" /></td>
                 <td><button type="button" asp-action="New2category" asp-controller="home" asp-route-id="@i.Id">新建分类</button></td>
             </tr>
                 if (i.Parent == null)
                 {
                     foreach (Category p in i.Children)
                     {
                         <tr>
                             <td><ul>@p.Name; </ul></td>
                             <td><button type="button" value="删除" asp-action="Delete" asp-controller="home" asp-route-id="@p.Id" /></td>
                         </tr>
                     }
                 }
             }
        
             </tbody>
         </table>
    </form>
     

