@model Sakura.AspNetCore.IPagedList<Feedback>


<a asp-controller="home" asp-action="MessageBox">发邮件</a><a asp-controller="Home" asp-action="Inbox" >收件箱</a><a asp-controller="Home" asp-action="Outbox" >发件箱</a>
<div class="row">

    <div class="col-md-10">

        <h3>Send Message</h3>

    </div>

</div>



<div class="row">

    <div class="col-md-10">

        <form asp-action="SendMessage" asp-controller="home">

            收件人 <br />

            <input name="Receivername" type="text" /><br />

            标题<br />

            <input name="Title" type="text" /><br />

            内容<br />

            <input name="Content" type="text" /><br />

            <button type="submit" class="btn btn-default">Send</button>

        </form>

    </div>

</div>

                       
         