@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using CC98.Software.Models
@model Software[]
@{
    ViewData["Title"] = "SearchResult";
}
@foreach(Software i in Model)
{
    <span>@i.Name</span>
}
